<!DOCTYPE html>
<html lang="en">
    <head>
        <title>更改密码</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="get" action='/change_passwd'>
	    <br>
            <label>原密码：<br>
            <input type="password" name="oldpasswd" value=""></label><br>
            <label>新密码：<br>
            <input type="password" name="newpassword1" value=""></label><br>
            <label>重复密码：<br>
            <input type="password" name="newpassword2" value=""></label><br>
            <input type="submit" value="完成">
        </form>
    </body>
</html>
