<!DOCTYPE html>
<html lang="en">
    <head>
        <title>管理员登录</title>
        <meta charset="UTF-8">
        <title>欢迎使用教务系统</title>
    </head>

    <body>
        <div align="center">
        <h1 style="text-align:center;">欢迎使用教务系统</h1>
        <h3>用户登录：</h3>
        <form method="get" action='/adminlogin'>
	    <br>
            <label>教师帐号：
            <input type="text" name="id" value=""></label><br><br>
            <label>教师密码：
            <input type="password" name="password" value=""></label><br><br>
            <input type="submit" value="登录">
            <input type="reset" value="重置"/>
        </form>
    </div>
    </body>
</html>
