<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学生资料修改</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="get" action='/changedata'>
            <h2>学生资料修改</h2>
                <h3><label>请输入你的学号：<input type="text" name="id" value=""></label><br></h3>
                <h3>更改项：</h3>
                <label>出生年月日：<input type="text" name="birthday" value=""></label><br>
                <label>学院：<input type="text" name="collage" value=""></label><br>
                <label>专业：<input type="text" name="major" value=""></label><br>
                <label>年级：<input type="text" name="grade" value=""></label><br>
                <input type="submit" value="完成">
        </form>
    </body>
</html>