<!DOCTYPE html>
<html lang="en">
    <head>
        <title>修改我的密码</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="get" action='/changestudentspassword'>
  	    <h2>修改密码</h2>
            <label>&nbsp;&nbsp;帐号：<input type="text" name="id" value=""></label><br><br>
            <label>原密码：<input type="text" name="oldpasswd" value=""></label><br><br>
            <label>新密码：<input type="text" name="newpasswd1" value=""></label><br><br>
            <label>重复新密码：<input type="text" name="newpasswd2" value=""></label><br><br>
            <input type="submit" value="提交">
            <input type="reset" value="重置"/>
        </form>
    </body>
</html>