<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学生成绩录入</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div align="center">
        <form method="get" action='/scoreadd'>
  	    <h2>学生成绩录入</h2>
            <label>学号：<input type="text" name="id" value=""></label>
            <label>姓名：<input type="text" name="name" value=""></label><br><br>
            <label>科目：<input type="text" name="subject" value=""></label>
            <label>成绩：<input type="text" name="fraction" value=""></label><br><br>
            <input type="submit" value="提交"><br><br>
        </form>
        </div>
    </body>
</html>