<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学生帐号注册</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div align="center">
        <form method="get" action='/studentregist'>
            <h2>学生用户注册</h2>
            <h3>必填项(*)</h3>
                <label>*学号：<input type="text" name="id" value=""></label><br>
                <label>*姓名：<input type="text" name="name" value=""></label><br>
                <label>*密码：<input type="text" name="password" value=""></label><br><br>
                <label>出生年月日：<input type="text" name="birthday" value=""></label><br>
                <label>学院：<input type="text" name="collage" value=""></label><br>
                <label>专业：<input type="text" name="major" value=""></label><br>
                <label>年级：<input type="text" name="grade" value=""></label><br>
                <input type="submit" value="完成">
        </form>
        </div>
    </body>
</html>