<!DOCTYPE html>
<html lang="en">
    <head>
        <title>主界面（管理员）</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form>
  	     <h3>选择操作</h3>
             <a href = "/regist" target="_blank" >学生用户注册</a><br>
             <a href = "/insert" target="_blank" >学生成绩录入</a><br>
             <a href = "/search" target="_blank" >学生成绩查询</a><br>
        </form>
    </body>
</html>
