<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学生成绩录入</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="get" action='/grades_insert'>
  	    <h2>学生成绩录入</h2>
            <label>学号：<input type="text" name="id" value=""></label>
            <label>姓名：<input type="text" name="name" value=""></label>
            <input type="submit" value="提交"><br><br>
            <label>数学：<input type="text" name="math" value=""></label>
            <label>语文：<input type="text" name="Chinese" value=""></label>
            <label>英语：<input type="text" name="English" value=""></label><br>
            <label>物理：<input type="text" name="physical" value=""></label>
            <label>化学：<input type="text" name="chemistry" value=""></label>
            <label>生物：<input type="text" name="biological" value=""></label><br>
            <label>历史：<input type="text" name="history" value=""></label>
            <label>地理：<input type="text" name="geography" value=""></label>
            <label>政治：<input type="text" name="political" value=""></label><br>

        </form>
    </body>
</html>
