<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学生帐号注册</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="get" action='/registuser'>
            <label>学号：<input type="text" name="id" value=""></label>
            <label>姓名：<input type="text" name="name" value=""></label>
            <label>密码：<input type="password" name="password" value=""></label>
            <input type="submit" value="完成">
        </form>
    </body>
</html>
