<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <title>用户注册页面</title>
    </head>
<body>
<h1>欢迎进入教务处系统</h1>
<h2>请输入注册信息</h2>
 <form action="/register" method="GET">
    <input type="text" name="username" id="username" placeholder="请填写账号" />
    <br></br>
    <input type="text" name="password" id="password" placeholder="请设置密码" />
    <input type="submit"  value="提交信息">
</form>
</body>
</html>


