{% extends 'base.html' %} {% block page_name %}成绩{% endblock %} 

{% block body_part6 %}
    <a href="{{ url_for('email') }}" class="nav-link active">
{% endblock %}

{% block body_part1 %}
将成绩发送到邮箱
{% endblock %}

{% block body_part2 %}

<form class="bs-example bs-example-form" role="form" method="post">
    <div class="input-group">
      <span class="input-group-addon">邮箱</span>
      <input type="text" class="form-control" id="inputEmail" name="email" placeholder="email" style="width:25%">
    </div>
    <br>
    <div class="control">
        <span><button type="submit" class="btn btn-info">发送</button></span>
    </div>
    <br><br>
    {% for msg in get_flashed_messages(category_filter=['OK']): %}
    <li><div class="alert alert-info" role="alert">成绩单发送完成！</div></li>
    {% endfor %}

    {% for msg in get_flashed_messages(category_filter=['error']): %}
    <li><div class="alert alert-danger" role="alert">成绩单发送失败！</div></li>
    {% endfor %}

</form>
{% endblock %}
