<!DOCTYPE html>
<html lang="en">
<style>
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
body
{
background-color:#b0c4de;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>教务处登陆系统</title>
</head>

<body>
<div class="center">
<h1>教务处登陆系统欢迎您！</h1>
<form action="/login" method="post">
              <i>管理员</i>or<span>学生</span>
             <p>用户名:<input name="username" type="text"></p>
             <p>密码:<input name="password" type="password"></p>
              <p><button type="submit">登陆</button></p> <p><input type="reset" value="重置"/></p>
              
              </form>
</div>
</body>
</html>
